*{
    color: white;
    font-weight: bold;
    
}
.containerNavbar{
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  padding: 4px;
  background-color: #1b1a1a;
  color: rgb(254, 254, 254);
  font-size: 0.9rem;
  box-shadow: 0 4px 8px 0 rgba(241, 232, 232, 0.2), 0 6px 20px 0 rgba(253, 253, 253, 0.19);
  
}
a {
    color: #d4d0d0;
    font-size:larger;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.2s;
    margin: 10px;
  }
  
  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    color:#f6f6f6;
    background-color: rgb(184, 248, 58);
    transition: 0.2s linear;
  }
  
  a:hover:after {
    width: 100%;
    color:white;
  }
  .item:hover{
    color:white;
  }

  .navItems{

    margin-right: 3em;
  }