.About{
    padding-top: 10px;
    
}
.h1 {
    color: #060606;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.2s;
  }
  
  .h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    color:#f6f6f6;
    background-color: rgb(243, 0, 0);
    transition: 0.2s linear;
  }
  
  .h1:hover:after {
    width:12%;
  }
  .aboutImg{
    width: 100%;
  }
  p{
    color: black;
  }